{{template "_head.html" .}}

<body ontouchstart="" >
<div style="width: 100%;height: 45px;background-color: #f8f8f8;border-bottom:1px solid #ddd">
    <a href="/"><span style="font-size: 32px;margin-left: 5%;"> < </span></a>
    <span style="font-size: 26px; margin-left: 5%;" id="num_title" > 匿名聊天室 {{.number}}人 </span>
</div>

<div id="show"></div>
<form >

    <div class="weui-uploader__input-box">
        <input id="sendimg" class="weui-uploader__input" type="file" accept="image/*">
    </div>

    <div class="weui-cells weui-cells_form" style="">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <textarea class="weui-textarea" id="msg" placeholder="请输入文本" rows="3"></textarea>
          <div class="weui-textarea-counter"><span>0</span>/200</div>
        </div>
      </div>
    </div>
    <div class="weui-flex" style="margin-top:21px;">
          <div class="weui-flex__item" >
              <a id="form" class="weui-btn weui-btn_plain-default" style="height: 38px;">发送</a>
          </div>
      </div>
</form>

{{template "_js.html" .}}
<script type="text/javascript">

var anonymityname = "{{.name}}";

window.onload = function () {
    var conn;
    var msg = document.getElementById("msg");

    $("#form").click(function () {
        if (!conn) {
            return false;
        }
        if (!msg.value) {
            return false;
        }
        conn.send(msg.value);
        msg.value = "";
        return false;
    });
    
    if (window["WebSocket"]) {
        var name = "{{.name}}";
        conn = new WebSocket("ws://" + document.location.host + "/ws/anonymity?name="+name);
        conn.onclose = function (evt) {
            appendErr("<b>Connection closed. 连接断开</b>");
        };
        conn.onmessage = function (evt) {
            var messages = evt.data.split('\n');
            var obj = JSON.parse(messages);
            $("#num_title").empty();
            $("#num_title").append("匿名聊天室 "+obj["count"]+"人 ")
            var head_img = "https://up.enterdesk.com/edpic/02/0e/5e/020e5ea1d6f7c86e7df950b045a21b1b.jpg";
            if (name == obj["name"]){
                MyShow(obj["data"], obj["time"], head_img);
            }else{
                YouShow(obj["data"], obj["name"], obj["time"], head_img);
            }
        };
    } else {
        appendErr("<b>你当前使用的浏览器不支持即使聊天，请更新或更换浏览器.</b>");
    }
};


$('#sendimg').change(function(evt){
    console.log("sendimg");
    // 如果浏览器不支持FileReader，则不处理
    if (!window.FileReader) return;
    var files = evt.target.files;
    console.log(files);
    console.log(files[0]["name"]);
    if (files.name == ""){
        return;
    }

    var f = event.target.files[0];

    var formdata=new FormData();
    formdata.append('file',f);
    formdata.append("myname", anonymityname);
    formdata.append("type","anonymity")

    console.log(formdata);
    $.ajax({
        url: "/upload",
        data: formdata,
　　　　 type: "POST",
        async: false,
　　　　 cache: false,
　　　　 contentType: false,
　　　　 processData: false,
        success: function (data) {

            console.log(data);
            if (data == ""){
                alert("添加失败");
            } 

        }
    })
});

</script>

</body>
</html>

