{{template "_head.html" .}}

<body ontouchstart="" >
  <header class="demos-header">
      <h1 class="demos-title">登录到 ManGe Chat</h1>
  </header>

  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">昵称</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input"  id="name" type="text" placeholder="输入一个昵称">
      </div>
    </div>
  </div>
  <div class="weui-flex" style="margin-top:18px;">
      <div class="weui-flex__item" >
          <a onclick="Login()" class="weui-btn weui-btn_primary" style="margin:8px;">进入</a>
      </div>
  </div>
</body>

<script type="text/javascript">
  
  function Login(){
      var name = $("#name").val();
      if (name != "") {
         window.location.href="/login/"+name;
	  }else{
	      alert("请输入一个昵称");
	  }
  }
  
</script>

</html>